accelerate
black
certifi
datasets
filelock
gensim
huggingface-hub
ipykernel
ipython
ipywidgets
isort
lightgbm
matplotlib
matplotlib-inline
networkx
notebook
numpy
pandas
pyarrow
safetensors
scikit-learn
scipy
seaborn
sentencepiece
six
torch
torchdata
torchtext
torchvision
tqdm
transformers
wandb